@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-dosis font-bold;
  }
}

.modern-input {
  @apply w-full px-2 py-1 border border-gray-400 bg-white rounded-md text-sm
    shadow-sm
    hover:border-gray-500
    focus:border-blue-600 focus:ring-2 focus:ring-blue-300 
    transition-all outline-none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}